<li class="separator"></li>
<li id="headings" style="width: auto; background: #fff;">
    <select id="heading-selection" style="border: 0; outline: none;">
        <option value="dummy" selected>Heading</option>
        <option value="-1">Normal</option>
        <option value="0">Heading 1</option>
        <option value="1">Heading 2</option>
        <option value="2">Heading 3</option>
        <option value="3">Heading 4</option>
        <option value="4">Heading 5</option>
        <option value="5">Heading 6</option>
    </select>
</li>