<li class="dropdown" style="width: 200px;">
    <select id="heading-selection" style="width: 200px;">
    <option value="dummy" class="dummy" selected="selected">--Style--</option>
    <option value="-1">Normal</option>
    <option value="0" class="list-title1">Heading 1</option>
    <option value="1" class="list-title1">Heading 2</option>
    <option value="2" class="list-title1">Heading 3</option>
    <option value="3" class="list-title1">Heading 4</option>
    <option value="4" class="list-title1">Heading 5</option>
    <option value="5" class="list-title1">Heading 6</option>
    </select> 
</li>