<li class="separator acl-write"></li>
<li id="headings" class="acl-write">
    <select id="heading-selection">
        <option value="dummy" selected>Heading</option>
        <option value="-1">Normal</option>
        <option value="0">Heading 1</option>
        <option value="1">Heading 2</option>
        <option value="2">Heading 3</option>
        <option value="3">Heading 4</option>
        <option value="4">Heading 5</option>
        <option value="5">Heading 6</option>
        <option value="6">Monospace</option>
    </select>
</li>
