<hr>
<li><a href="#" data-key="align">Heading</a>
  <ul class="submenu">
    <li><a href="#" class="ep_heading_n">Normal</a></li>
    <li><a href="#" class="ep_heading_h1">Heading 1</a></li>
    <li><a href="#" class="ep_heading_h2">Heading 2</a></li>
    <li><a href="#" class="ep_heading_h3">Heading 3</a></li>
    <li><a href="#" class="ep_heading_h4">Heading 4</a></li>
    <li><a href="#" class="ep_heading_h5">Heading 5</a></li>
    <li><a href="#" class="ep_heading_h6">Heading 6</a></li>
    <li><a href="#" class="ep_heading_m">Monospace</a></li>
  </ul>
</li>

